body {
  font: 20px 'Pacifico', cursive;
  width: 100%;
  height: 100%;
  background-image: url('./images/vinyl.jpg');
  background-repeat: cover;
  text-align: center;
}
a {
  text-decoration: none;
}
img {
  width: 35rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  margin-top: 0;
}
::-webkit-input-placeholder {
   color: #FDF9F3;
   font-family: 'Copse';
}
:-moz-placeholder { /* Firefox 18- */
   color: #FDF9F3;
   font-family: 'Copse';
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FDF9F3;
   font-family: 'Copse';
}
:-ms-input-placeholder {
   color: #FDF9F3;
   font-family: 'Copse';
}
.indexSubtitle {
  display: inline-block;
  font-family: 'Shrikhand';
  margin-top: 0;
  line-height: 0;
}
.indexInput {
  border-radius: .5rem;
  border: .1rem solid #1C1C1C;
  padding: .1rem;
  margin: .1rem;
  background-color: #1C1C1C;
  color: #FDF9F3;
  font-family: 'Kadwa';
  font-size: 1.0rem;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.indexInput:hover {
  background-color: #FDF9F3;
  border: .2rem solid #1C1C1C;
  color: #1C1C1C;
  outline: none;
  font-size: 1.08rem;
}
.indexInput:focus {
  background-color: #FDF9F3;
  border: .2rem solid #1C1C1C;
  color: #1C1C1C;
  outline: none;
  font-size: 1.08rem;
}
.indexButton {
  border: .15rem solid #1C1C1C;
  border-radius: 1rem;
  margin: 1rem;
  font-family: 'Pacifico';
  font-size: 1.3rem;
  padding: .5rem;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.indexButton:hover {
  cursor: pointer;
  background-color: #FFF275;
  box-shadow: .1rem .1rem #1C1C1C;
}
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputFile + .uploadLabel {
    font-size: 1.5rem;
    font-family: 'Shrikhand';
    color: #1C1C1C;
    background-color: #40BCD8;
    display: inline-block;
    padding: .5rem;
    border-radius: .5rem;
    border: .15rem solid #1C1C1C;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.inputFile:focus + .uploadLabel,
.inputFile + .uploadLabel:hover {
    background-color: #D63230;
    box-shadow: .2rem .2rem #1C1C1C;
    cursor: pointer;
}
.uploadSubtitle {
  margin-top: 0;
  font-size: 1.6rem;
}
.uploadButton {
  border: .15rem solid #1C1C1C;
  border-radius: 1rem;
  margin: 1rem;
  font-family: 'Pacifico';
  font-size: 1.3rem;
  padding: .5rem;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.uploadButton:hover {
  cursor: pointer;
  background-color: #FFF275;
  box-shadow: .1rem .1rem #1C1C1C;
}
.rectContainer {
  margin: .5rem 1rem 1rem 1rem;
  /*display: inline-block;*/
  border-radius: 1rem;
  padding: .7rem;
  box-shadow: #1C1C1C .2rem .2rem;
}
.title {
  display: inline-block;
  font-size: 5rem;
  margin-top: 1.5rem;
}
.title2 {
  display: inline-block;
  font-family: 'Shrikhand';
  margin-top: 2.5rem;
  line-height: 1.8rem;
}
.title3 {
  display: inline-block;
  line-height: 2rem;
  text-shadow: #1C1C1C .1rem .1rem;
  font-size: 2rem;
}
.formContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.vertContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.circleForm {
  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  font-size: 1.5rem;
  line-height: 1rem;
  margin: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background:#000;
  box-shadow: #1C1C1C .2rem .2rem;
}
.uploadForm {
  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  font-size: 1.5rem;
  /*line-height: 1rem;*/
  margin: 5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: #1C1C1C .2rem .2rem;
  margin-top: 5rem;
  /*width: 50rem;*/
  /*height: 10rem;*/
}

/* Colors */
.saffron {
  color: #F39237;
}
.red {
  color: #D63230;
}
.sunny {
  color: #FFF275;
}
.sea {
  color: #40BCD8;
}
.seaGreen {
  color: #8ACB88;
}
.navyBlue {
  color: #1C77C3;
}
.eggShell {
  color: #F0E7D8;
}
.black {
  color: #1C1C1C;
}
.white {
  color: #FDF9F3;
}

.saffronBg {
  background-color: #F39237;
}
.redBg {
  background-color: #D63230;
}
.sunnyBg {
  background-color: #FFF275;
}
.seaBg {
  background-color: #40BCD8;
}
.seaGreen {
  background-color: #8ACB88;
}
.navyBlueBg {
  background-color: #1C77C3;
}
.blackBg {
  background-color: #1C1C1C;
}
.whiteBg {
  background-color: #FDF9F3;
}
.eggShellBg {
  background-color: #F0E7D8;
}
